body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Light background color */
}

.board {
    display: flex;
    flex-direction: column;
    border: 2px solid #333; /* Chess board border */
}
.board :hover{
     transform: scale(1.05);
}
.row {
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333; /* Border for each square */
    background-color: #ffffff; /* Default white square color */
}

.dark {
    background-color: #769656; /* Dark square color */
    color: white; /* Text color for contrast */
}

.light {
    background-color: #eeeed2; /* Light square color */
}

/* Alternate row colors */
.row:nth-child(even) .square:nth-child(odd) {
    background-color: #769656; /* Dark color */
}

.row:nth-child(even) .square:nth-child(even) {
    background-color: #eeeed2; /* Light color */
}

.row:nth-child(odd) .square:nth-child(odd) {
    background-color: #eeeed2; /* Light color */
}

.row:nth-child(odd) .square:nth-child(even) {
    background-color: #769656; /* Dark color */
}
